.Header-Container{
  box-sizing: border-box;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(197, 197, 197);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 100;
}

.Header-Title{
  margin: 0;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -2px;
  color: #292929;
  text-align: center;
}

.Header-Title:hover{
  cursor: default;
}

.Header-Button{
  font-family: '__Poppins_d40877', '__Poppins_Fallback_d40877';
  background-color: transparent;
  font-size: 1.3rem;
  border: 3px solid #292929;
  border-radius: 1rem;
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.Header-Button:hover{
  cursor: pointer;
  opacity: 0.5;
}

.Header-Icon{
  width: 25px;
  height: 25px;
  color: #292929;
}

.Header-Dropdown {
  position: fixed;
  top: 0;
  right: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgb(197, 197, 197);
  border-radius: 1rem;
  margin: 0.5rem 1.5rem 0 0 ;
  padding: 1rem 3rem;
  transform: translateY(-153px);
  transition: transform 0.3s ease;

}

.active {
  transform: translateY(5rem);
}

.Header-Name {
  margin: 0;
}

.Header-Email {
  margin: 0 0 1rem 0;
}

.Header-LogoutButton{
  background-color: transparent;
  border-radius: 0.7rem ;
  font-size: 1rem;
  color: #292929;
  font-weight: 500;
  border: 2px solid #292929;
  padding: 0 1rem;
  font-family: '__Poppins_d40877', '__Poppins_Fallback_d40877';
  transition: all 0.2s ease;
}

.Header-LogoutButton:hover {
  background-color: #292929;
  color: rgb(197, 197, 197);
  cursor: pointer;
}

@media only screen and (max-width: 1400px){
  .Header-Dropdown{
    padding: 1rem;
  }
}

@media only screen and (max-width: 900px){
  .Header-Dropdown {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgb(197, 197, 197);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  .active {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 500px){
  .Header-Container{
    padding: 1rem;
  }
}
