.Sign-Container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  background-color: rgb(197, 197, 197);
  width: 17rem;
  height: fit-content;
  padding: 3rem;
  border-radius: 1rem;
}

.Sign-Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Sign-Input {
  box-sizing: border-box;
  background-color: #4d7c8a;
  border: none;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: #ffffffe7;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: '__Poppins_d40877', '__Poppins_Fallback_d40877';
}

.Sign-Input:focus {
  outline: none;
}

.Sign-Input::placeholder {
  color:rgb(197, 197, 197);
}

.Sign-SubmitButton {
  background-color: #4d7c8a;
  border: none;
  width: 100%;
  height: 2.5rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  padding: 0;
  color: #ffffffe7;
  transition: background-color 0.2s ease ;
  font-family: '__Poppins_d40877', '__Poppins_Fallback_d40877';
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sign-SubmitButton:hover {
  background-color: #4d7c8ad5;
  cursor: pointer;
}

.Sign-Button {
  background-color: transparent;
  border: none;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0;
  padding-top: 1rem;
  color: #292929;
  transition: color 0.2s ease ;
  font-family: '__Poppins_d40877', '__Poppins_Fallback_d40877';
}

.Sign-Button:hover {
  color: #4d7c8a  ;
  cursor: pointer;
}

.Sign-Label{
  font-size: 0.8rem;
  color: #bb0404;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.Sign-Loader {
  animation: spin 2s linear infinite;
  border: 2px solid rgb(197, 197, 197);
  border-radius: 50%;
  border-top: 2px solid #292929;
  height: 1rem;
  width: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}